XDG_RUNTIME_DIR=/run/user/1000
DISPLAY=:0

# minute, hour, day of month, month, day of week
@hourly /./home/alex/.config/wallpapers/wallpaperSetter.sh

0 13 * * * /./home/alex/.config/i3/lock.sh "Eat Lunch (& don't forget E"
0 19 * * * /./home/alex/.config/i3/lock.sh "Eat Dinner"

0 21 * * mon /./home/alex/.config/i3/lock.sh "Go Shopping"
0 21 * * tue,fri /./home/alex/.config/i3/lock.sh "Have a Shower"

0 00 * * * /./home/alex/.config/i3/lock.sh "Go To Bed"
0 15 * * * /./home/alex/.config/i3/lock.sh "Go For Walk"
